<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WidgetDashboard</title>
    <link rel="stylesheet" href="/static/css/auth.css">
</head>

<body>
    <form class="auth-form">
        <p class="auth-title">Sign in to your account</p>
        <p class="auth-subtitle">Welcome back to WidgetDashboard</p>
        <div class="input-container">
            <input
                type="email"
                id="email"
                name="email"
                placeholder="Enter email"
                required>
        </div>
        <div class="input-container">
            <input
                type="password"
                id="password"
                name="password"
                placeholder="Enter password"
                required>
        </div>
        <p id="login-error" class="auth-error"></p>
        <button type="submit" class="auth-submit">
            SIGN IN
        </button>
        <p class="auth-link">
            No account?
            <a href="/signup">Sign up</a>
        </p>
    </form>


    <script>
        const form = document.querySelector("form");
        const submitButton = document.querySelector(".auth-submit");
        const errorMessage = document.querySelector("#login-error");


        form.addEventListener("submit", async (event) =>{
            event.preventDefault();

            errorMessage.textContent = ""; 
            
            submitButton.textContent = "Signing in...";
            submitButton.disabled = true;

            const email = document.querySelector("#email").value;
            const password = document.querySelector("#password").value; 
    
            const response = await fetch("/auth/login", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({email: email, password: password })
            })
    
            const data = await response.json();
    
            if (response.ok) {
                sessionStorage.setItem("access_token", data.access_token);
                window.location.href = "/dashboard-page";
            } else {
                errorMessage.textContent = data.detail || "Login failed. Please try again.";
                submitButton.textContent = "SIGN IN";
                submitButton.disabled = false;
            }
        });
    </script>
</body>
    
</html>